#about{
    background-color: rgba(0, 0, 0, 0.678);
    padding: 30px;
    text-align: center;
    font-size: 40px;
    color: #f3ecec;
}
#write{
    background-color: rgb(15, 15, 15);
    color:#f3ecec;
    padding: 60px;
}
#write>h2{
    color:  #0884cc;
}
@media screen and (max-width:700px){
    #about{
        font-size: medium;
    }
    #write{
        background-color: rgb(15, 15, 15);
        color: #f3ecec;
        padding: 30px;
    }
}